{% block content %}

<div class="container mt-4">
  <h2>My Past Orders</h2>

  {% if orders %}
  <p>(Click to expand)</p>
    {% for order in orders %}
    <div>
      <p>
        <a class="" data-toggle="collapse" href="#collapse-order-{{ order.id }}" role="button" aria-expanded="false" aria-controls="collapse-order-{{ order.id }}">
          <strong>Order #{{ order.id }}</strong> — placed on {{ order.created_at|date:"jS F Y" }}
        </a>
      </p>
      <div class="collapse" id="collapse-order-{{ order.id }}">
        <div class="card card-body">
           <div class="translucent-bg">
        <div>
          <strong>Order #{{ order.id }}</strong> — placed on {{ order.created_at|date:"jS F Y" }}
        </div>
        <div>
          <h5>Shipping Address</h5>
          <p>
            {{ order.address.name }}<br>
            {{ order.address.address1 }}<br>
            {% if order.address.address2 %}{{ order.address.address2 }}<br>{% endif %}
            {{ order.address.town_city }}<br>
            {{ order.address.postcode }}<br>
            {{ order.address.phone }}<br>
            {{ order.address.email }}
          </p>

          <h5>Items</h5>
          <ul>
            {% for item in order.items.all %}
              <li class="d-flex justify-content-between align-items-center">
                <div>
                  {{ item.product.name }} (x{{ item.qty }})
                  <br>
                  £{{ item.price }} each
                </div>
                <div>
                  £{{ item.subtotal }}
                </div>
              </li>
            {% endfor %}
          </ul>

          <div class="text-end mt-3">
            <strong>Total: £{{ order.total }}</strong>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
    {% endfor %}
  {% else %}
    <p>You haven't placed any orders yet.</p>
  {% endif %}
</div>

{% endblock %}
