{% block content %}
<div class="container mt-4">
        <a data-toggle="collapse" href="#collapse-privacy-policy" role="button" aria-expanded="false" aria-controls="collapseExample">
            <h2>Privacy Policy</h2>
          <p>(click to expand)</p>
        </a>
    <div class="collapse" id="collapse-privacy-policy">
        <p id="policy-placeholder">Something has gone wrong when loading the privacy policy. If the issue persists, please contact <a href="mailto:51wsubx7+the_woodshed@students.codeinstitute.net">51wsubx7+the_woodshed@students.codeinstitute.net</a></p>
        <div id="policy-container">

        </div>
    </div>
</div>
{% endblock %}