{% extends "base.html" %}

{% block content %}
<!-- Silently sets images into array for gallery -->
<div id="image-data" style="display: none;">
  [
  {% for image in product.images.all %}
    {"url": "{{ image.image.url }}"}{% if not forloop.last %},{% endif %}
  {% endfor %}
  ]
</div>

  <div id="" class="border mx-5 translucent-bg m-4 p-3">
    <div>
      <!-- Image Gallery - controlled by script at bottom of file -->
      <div id="gallery" class="d-flex flex-row justify-content-center">
          <img class="img-fluid" id="left-image" alt="{{ product.name }} left image">
          <img class="img-fluid" id="centre-image" alt="{{ product.name }} main image">
          <img class="img-fluid" id="right-image" alt="{{ product.name }} right image">
      </div>
      <div id="img-counter" class="d-flex flex-row justify-content-center"></div>
    </div>
    <h1>{{ product.name }}</h1>
    <div class="d-flex flex-row justify-content-between">
        <div>
          <p>£{{ product.price }}</p>
          <p>Qty in stock: {{ product.qty_in_stock}}</p>
        </div>
          <div class="d-flex flex-row">
            {% if product.qty_in_stock > 0 %}
              <p><a class="mr-2" href="{% url 'add_to_basket' product.id %}">Add to Basket</a><i class="fa-solid fa-basket-shopping mr-2"></i></p>
            {% else %}
              <p><span class="out-of-stock mr-2">Out of Stock</span><i class="fa-solid fa-basket-shopping"></i></p>
            {% endif %}
            <p><a class="mr-2" href="{% url 'add_to_wishlist' product.id %}">Add to Wishlist</a><i class="fa-solid fa-heart"></i></p>
          </div>
    </div>
    <p>Material: {{ product.material }}</p>
    <p>Finish: {{ product.finish }}</p>
    <p>{{ product.description }}</p>
  </div>


<script id="image-data" type="application/json">
  {{ product.images|safe }}
</script>

{% endblock %}