{% extends "base.html" %}
{% block content %}
  <!-- Sorting/Fitlering -->
  <div class="translucent-bg">
    <form method="get" class="mb-4">
      <label for="hide_out_of_stock">Hide out of stock</label>
      <input type="checkbox" id="hide_out_of_stock" name="hide_out_of_stock" value="1" {% if request.GET.hide_out_of_stock == "1" %}checked{% endif %}>
      <select id="sorting" name="sort">
        <option value="">Sort by</option>
        <option value="price_low_high" {% if request.GET.sort == "price_low_high" %}selected{% endif %}>
          Price: Low to High
        </option>
        <option value="price_high_low" {% if request.GET.sort == "price_high_low" %}selected{% endif %}>
          Price: High to Low
        </option>
      </select>
    </form>
  </div>
  <!-- End of sort/filter -->
  <div class="row mt-4">
    {% if products.exists %}
      {% for product in products %}
        <div class="col-12 col-sm-6 col-lg-4 px-5 pb-4">
          {% include "components/product_card.html" with product=product in_wishlist=False %}
        </div>
      {% endfor %}
    {% else %}
      <div class="translucent-bg col px-5 mx-5 p-2">
        <h2>No Products Found</h2>
        <p>It looks like there aren't any products matching your search criteria.</p>
        <p>We're constantly upating our shop with more of your favourite products. Please try again later, or head to <a href="{% url 'products_list' %}">All Products</a></p>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}