body {
    background-color: rgb(75, 45, 0);
    background-image: url("../images/pexels-ono-kosuki-5974283.jpg");
}

h1 {
    color: red;
}

#nav-rows {
    display: flex;
    flex-direction: column !important;
    border: 1px solid lime;
}

#basket-count {
    border-radius: 15px;
    margin: 10px;
    border: 1px solid black;

}