body {
    background-color: rgb(75, 45, 0);
    background-image: url("../images/pexels-ono-kosuki-5974283.jpg");
    background-attachment: scroll;
}

a { 
    all: unset;
    display: inline;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

#basket-count {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-color: red;
    color: white;
    transform: translate(15px, 0);
}

.translucent-bg {
    background-color: rgba(255, 255, 255, 0.5);
}


#product-card-img-container {
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;
}


.product-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.long-text-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Image Carousel in Product Card */
/* Shared properties of both peripherary images */
#left-image, #right-image {
    max-width: 15% !important;
    filter: grayscale(60%);
    filter: brightness(70%);
    transform: scale(0.85);
    transition: all 0.3s ease;
}

#left-image{
    transform: perspective(600px) rotateY(-20deg) scale(0.8);
}

#left-image:hover {
    transform: perspective(600px) rotateY(-20deg) scale(0.75);
    filter: brightness(90%);
}

#right-image{
    transform: perspective(600px) rotateY(20deg) scale(0.8);
}

#right-image:hover {
    filter: brightness(90%);
    transform: perspective(600px) rotateY(20deg) scale(0.75);
}

#centre-image {
    max-height: 55vh;
}
/* End of Image Carousel in Product Card */

/* Product Card */
.qty-field {
    max-width: 35px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* End of Product Card */