<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div id="nav-rows" class="container-fluid">
    <div id="top-row" class="container-fluid"  style="border: 2px solid red;">
      <a class="navbar-brand" href="#">The Woodshed</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
    <div class="collapse navbar-collapse container-fluid" class="" id="bottom-row" style="border: 2px solid blue;">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="#">Bowls</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chairs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tables</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Trinkets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Vases</a>
        </li>
      </ul>
    </div>
  </div>
</nav>