<div class="product-card border translucent-bg p-3">
  {% if product.images %}
  <div id="product-card-img-container" class="d-flex justify-content-center border mb-2">
    <img src="{{ product.images.0.url }}" alt="{{ product.name }}" class="product-card-img"/>
  </div>
  {% endif %}
  <h4 class="long-text-hidden">{{ product.name }}</h4>
  <p>Price: £{{ product.price }}</p>
  <div class="d-flex justify-content-between">
    <a href="{% url 'product_detail' product.pk %}"><b>See more details</b></a>
    {% if not in_wishlist %}
      <p><a href="{% url 'add_to_wishlist' product.id %}">Add to Wishlist</a><i class="fa-solid fa-heart"></i></p>
    {% else %}
      <p>
        <b><a href="{% url 'remove_from_wishlist' product.id %}">Remove from wishlist</a><i class="fa-solid fa-heart-crack"></i></b>
      </p>
    {% endif %}
    <p><b>
      Add to Basket<i class="fa-solid fa-basket-shopping"></i>
    </b></p> <!-- Will fix this when building basket-->
  </div>


</div>