{% extends "base.html" %}
{% block content %}
<h2>basket</h2>
<div class="row mt-4">
  {% if items %}
      {% for item in items %}
        <div class="col-12 col-sm-6 col-lg-4 px-5 pb-4">
          {% include "components/product_card.html" with product=item.product%}
        </div>
      {% endfor %}
  {% else %}
    <div class="translucent-bg col px-5 mx-5 p-2">
        <h2>No Products Found</h2>
        <p>It doesn't look like you've saved anything to your wishlist</p>
        <p><a href="{% url 'products_list' %}"></a>Click here to see All Products</a></p>
      </div>
  {% endif %}
</div>
{% endblock %}