{% extends "base.html" %}
{% block content %}
<div class="translucent-bg px-5 mx-2">
  <h2>My Basket</h2>

</div>
<div class="row mt-4">
  {% if items %}
      {% for item in items %}
        <div class="col-12 col-sm-6 col-lg-4 px-5 pb-4">
          {% include "components/product_card.html" with product=item.product item=item %}
        </div>
      {% endfor %}
      {% else %}
      <div class="translucent-bg col px-5 mx-5 p-2">
        <h2>No Products Found</h2>
        <p>It doesn't look like you've saved anything to your basket</p>
        <p><a href="{% url 'products_list' %}">Click here to see All Products</a></p>
      </div>
      {% endif %}
    </div>
    {% if items %}
    <div class="border border-dark m-5 p-2 translucent-bg">
      <div>
        <div class="border border-light justify-content-end">
          <div class="pairs d-flex justify-content-between px-5">
            <p class="px-5">Shipping & Handling</p>
              {% if basket_total >= 500 %}
                <b><span class="strikethrough">£{{shipping_handling}}</span> £0</b>
              {% else %}
                <b>£{{ shipping_handling}}</b>
              {% endif %}
          </div>
          <div class="pairs d-flex justify-content-between px-5">
            <p class="px-5">Basket Total</p>
            <p>£{{ basket_total }}</p>
          </div>
          <div class="pairs d-flex justify-content-between px-5">
            <p class="px-5">Order Total</p>
            <p>£{{order_total}}</p>
          </div>
        </div>
      </div>
      
      <div class="info">
        {% if basket_total >= 500 %}
          <p>You cqualify for Free shipping on orders over £{{ free_shipping_at }}! Add another {{ difference_to_free_shipping }} to qualify for free shipping</p>
        {% else %}
          <p>Free shipping on orders over £{{ free_shipping_at }}! Add another {{ difference_to_free_shipping }} to qualify for free shipping</p>
        {% endif %}
      </div>
      <div class="d-flex justify-content-between">
        <p><a href="{% url 'products_list' %}" class="btn btn-primary">Continue Shopping</a></p>
        <p><a href="" class="btn btn-primary">Proceed to Secure Checkout</a></p>
      </div>
    </div>
    {% endif %}
{% endblock %}